
// Color variables

$white			: #fff;
$black			: #000;

$background		: #247cb7;
$links			: #c1ccdd;

// Media query breakpoints

$brk-narrow		: '(min-width: 768px)';
$brk-wide		: '(min-width: 1024px)';

// Font family

$main-font		: " 'Poppins', sans-serif ";
$font-secondary	: " 'Quicksand', sans-serif ";