
* {
	box-sizing: border-box;
}

body {
	@include text($color: $white);
	background-color: $background;
	font-family: #{$main-font};
	text-align: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $links;

	&:hover {
		color: $white;
	}
}

h2 {
	@extend %uppercase;
	font-family: #{$font-secondary};
	padding-bottom: 20px;
	padding-top: 20px;
}